html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
img {
  -webkit-transform: scale(1) rotate(0) translate3d(0, 0, 0);
          transform: scale(1) rotate(0) translate3d(0, 0, 0);
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Cambria, Arial;
  background-color: #fff;
  overflow-x: hidden;
  font-size: 15px;
  line-height: 1.4;
}

body::-webkit-scrollbar-thumb {
  background-color: #0c9b13ce;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: .8vw;
}

ul {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 2rem;
}

a:hover {
  text-decoration: none;
}

input {
  border: 0;
}

input:focus {
  outline: 0;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrap {
    max-width: 100%;
  }
}

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Cambria, Arial;
  background-color: #fff;
  overflow-x: hidden;
  font-size: 15px;
  line-height: 1.4;
}

body::-webkit-scrollbar-thumb {
  background-color: #0c9b13ce;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: .8vw;
}

ul {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 2rem;
}

a:hover {
  text-decoration: none;
}

input {
  border: 0;
}

input:focus {
  outline: 0;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrap {
    max-width: 100%;
  }
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
}

.header-nav {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  background-color: #ffffffbb;
  padding: .6rem 0;
  width: 100%;
  z-index: 10;
}

.header-nav > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.header-nav:hover {
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-nav.wrap {
  padding: 5px;
}

.header-nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: Cambria;
  font-size: 30px;
}

.header-nav .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.header-nav .logo img {
  width: 3rem;
}

.header-nav .logo #collaspe-btn {
  display: none;
  color: #0c9b13;
  font-weight: bold;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (max-width: 768px) {
  .header-nav .logo #collaspe-btn {
    display: block;
  }
}

.header-nav a {
  color: #0c9b13;
}

.header-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 768px) {
  .header-nav {
    background-color: #fff;
    padding: 0;
  }
  .header-nav > .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .header-nav .logo {
    width: 100%;
  }
  .header-nav .logo > * {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .header-nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 250px;
    width: 100%;
  }
  .header-nav nav * {
    display: initial;
  }
  .header-nav .hide {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 0;
    overflow: hidden;
  }
  .header-nav .hide * {
    display: none;
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.header-nav-list a {
  padding: 10px 15px;
  color: #0c9b13;
  display: block;
}

.header-nav-list a:hover {
  background-color: #0c9b13;
  color: #fff;
}

@media (max-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    height: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header-nav-list, .header-nav-list li {
    width: 100%;
  }
}

.header-nav-list a {
  text-align: center;
}

.search-form {
  margin-left: 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#search-txt {
  padding: 5px;
  -webkit-box-shadow: 0 0 1px 0 #2a2a2ace;
          box-shadow: 0 0 1px 0 #2a2a2ace;
  border-radius: 5px;
}

.banner {
  overflow: hidden;
}

.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.banner-slogan {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateX(-20%) translateY(-50%);
          transform: translateX(-20%) translateY(-50%);
  width: 600px;
  height: auto;
  background-color: #ffffffbb;
  padding: 2rem;
  z-index: 1;
}

.banner-slogan-btn {
  display: block;
  padding: 10px 0;
  margin: auto;
  text-align: center;
  background-color: #0c9b13;
  color: #fff;
}

.banner-slogan-btn:hover {
  color: #0c9b13ce;
  background-color: transparent;
  border: 2px solid #0c9b13;
  padding: 8px 0;
}

.banner-slogan-txt {
  background: #004c07;
  background: -webkit-gradient(linear, left top, right top, from(#004c07), color-stop(17%, #28a034), color-stop(40%, #52b152), color-stop(65%, #108710), color-stop(91%, #1e891e), to(#034909));
  background: linear-gradient(to right, #004c07 0%, #28a034 17%, #52b152 40%, #108710 65%, #1e891e 91%, #034909 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c07', endColorstr='#034909',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 37.5px;
  text-align: center;
}

.banner-slogan-txt.smaller {
  font-weight: normal;
  text-align: justify;
  font-size: 19.5px;
}

@media (max-width: 768px) {
  .banner-slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 80%;
  }
  .banner-slogan-txt {
    font-size: 27px;
    text-align: justify;
  }
  .banner-slogan-txt.smaller {
    font-size: 15px;
  }
}

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Cambria, Arial;
  background-color: #fff;
  overflow-x: hidden;
  font-size: 15px;
  line-height: 1.4;
}

body::-webkit-scrollbar-thumb {
  background-color: #0c9b13ce;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: .8vw;
}

ul {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 2rem;
}

a:hover {
  text-decoration: none;
}

input {
  border: 0;
}

input:focus {
  outline: 0;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrap {
    max-width: 100%;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

#footer {
  display: block;
  background-color: #0c9b13;
  color: #fff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 1rem;
}

.social + p {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.social li {
  padding: 0 10px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.social li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.social a {
  font-size: 30px;
}

.address {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.up-btn.line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.431);
  height: 21px;
  margin-bottom: 22px;
}

.up-btn > a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #0c9b13;
  text-align: center;
  display: table;
  padding: 10px 15px;
  margin: auto;
  clear: both;
}

.up-btn > a:hover {
  background-color: #0c9b13;
  color: #fff;
  border: 1px solid #fff;
}

.copyright {
  text-align: center;
  padding: 1rem;
}

/******************
** MAIN CONFIG
*******************/
.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  color: #0c9b13;
  padding: 3rem 0;
}

.main-section-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin: 1rem .5rem;
}

.wrap {
  overflow: hidden;
}

/******************
** TINH DAU
*******************/
#tinhdau {
  background: url(../res/img/whiteflower.jpg) no-repeat center/cover fixed;
}

#tinhdau .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

#tinhdau .end .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

#tinhdau .end .group > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 60%;
  margin: 1.5rem;
  text-align: center;
}

#tinhdau .end .group > div img {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#tinhdau .end .group > div span {
  margin-top: 10px;
}

#tinhdau .end .group > div :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  #tinhdau .end {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  }
  #tinhdau .end .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  }
  #tinhdau .end .group > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  }
}

/******************
** GIOI THIEU
*******************/
#gioithieu {
  font-size: 19.5px;
}

#gioithieu > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}

@media (max-width: 768px) {
  #gioithieu > .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  }
  #gioithieu .intro {
    width: 100%;
  }
  #gioithieu .intro::after {
    background: url(../res/img/83.jpg) no-repeat center/100% fixed;
  }
  #gioithieu .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 50%;
  }
  #gioithieu .feature img {
    width: 30%;
    margin-right: 2rem;
  }
}

.intro {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  display: block;
  width: 65%;
  padding: 4rem 2rem;
  text-align: justify;
}

.intro:hover {
  background-color: #ffffffbb;
}

.intro::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  background: url(../res/img/83.jpg) no-repeat center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 35%;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  margin: 1rem;
}

.feature-item img {
  width: 20%;
  margin-right: 2rem;
}

/******************
** SAN PHAM
*******************/
#sanpham {
  background-color: #aaaaaa28;
}

.slide {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  width: 2380px;
  position: relative;
}

.slide-item {
  margin: 0 20px;
  position: relative;
}

.slide-item img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 3px 0 #050505a4;
          box-shadow: 0 0 3px 0 #050505a4;
}

.slide-item .back {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  color: #0c9b13;
  opacity: 0;
  z-index: 1;
}

.slide-item .back h5 {
  margin: 10px 0;
  text-align: center;
  font-size: 22.5px;
}

.slide-item .back:hover {
  opacity: 1;
  background-color: #ffffffbb;
}

.slide-btn {
  display: table;
  margin: 10px auto;
}

.btn {
  border: 0;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #0c9b13;
  color: #fff;
  font-size: 40px;
  border-radius: 50%;
  margin: 1rem;
}

.btn:hover {
  background-color: #0c9b13ce;
}

/******************
** DAM BAO
*******************/
#dambao .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

#dambao .cer-container {
  width: 25%;
}

#dambao .cer-container img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */