@import "../global/mixin";
@import "../global/config";
@import "../global/valuable";

a {
  color: #fff;
  text-decoration: none;
}

#footer {
  display: block;
  background-color: $green-color;
  color: #fff;
}

.social {
  @include flex (row, center, center);
  padding: 1rem;

  &+p {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  li {
    padding: 0 10px;
    @include trans(.1s);
    &:hover {
      transform: translateY(-5px);
    }
  }

  a {
    font-size: $font-size * 2;
  }
}

.up-btn {
  &.line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.431);
    height: 21px;
    margin-bottom: 22px;
  }

  &>a {
  @include trans(.2s);
  background-color: #fff;
  color: $green-color;
  text-align: center;
  display: table;
  padding: 10px 15px;
  margin: auto;
  clear: both;

    &:hover {
      background-color: $green-color;
      color: #fff;
      border: 1px solid #fff;
    }
  }
}

.copyright {
  text-align: center;
  padding: 1rem;
}