// color =============================
$green-color: #0c9b13;
$green-color-blur: #0c9b13ce;
$black-color: #2a2a2a;
$black-color-blur: #2a2a2ace;
$white-color-blur: #ffffffbb;
// size ==============================
$font-size: 15px;

// font ==============================
$font: Cambria;