// color =============================
$red-color: #af223c;
$red-color-blur: #af223cc0;
$black-color: #333;
$black-color-blur: #333333c4;
$yellow-color: #f0da0e;
$yellow-color-blur: #f0d90ead;
$white-color: #ffffff;
$scroll-bar-color: rgb(216, 193, 164);
$border-color: #851328fb;

// size ==============================
$font-size: 15px;

// font ==============================
$font: 'Source Sans', Cambria;